<template name="chatboxMentor">

    <div class="col-lg-4">
        <div class="ibox float-e-margins"  id="ibox_chat">
            <div class="ibox-content" id="chat_border"><div>
                <div class="chat-activity-list">
                    <div class="ibox float-e-margins" id="chat_box">

                        {{#each messages}}

                            {{#if isUserMessage type}}

                                <div class="chat-element">

                                    <div class="row">
                                        USER
                                        <div class="col-lg-10">
                                            <div class="media-body">
                                                <strong>{{getCurrentChattingUser.profile.full_name}}</strong>
                                                <p class="m-b-xs">
                                                    {{body}}
                                                </p>
                                                <small class="text-muted">
                                                    <span data-livestamp="{{sentAt}}"></span>
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <a href="#" class="pull-left">
                                                <img alt="image" class="img-circle" src="/upload/{{getCurrentChattingUser.profile.profilePicture}}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}

                            {{#if isMentorMessage type}}
                                <div class="chat-element">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <a href="#" class="pull-left">
                                                <img alt="image" class="img-circle" src="/upload/mentor.png">
                                            </a>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="media-body">
                                                <strong>Mentor</strong>
                                                <p class="m-b-xs">
                                                    {{body}}
                                                </p>
                                                <small class="text-muted">
                                                    <span data-livestamp="{{sentAt}}"></span>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}

                            {{#if isSiteMessage type}}
                                <div class="chat-element">
                                    <a href="#" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a2.jpg">
                                    </a>
                                    <div class="media-body">
                                        <strong>Site</strong>
                                        <p class="m-b-xs">
                                            {{body}}
                                        </p>
                                        <small class="text-muted">
                                            <span data-livestamp="{{sentAt}}"></span>
                                        </small>
                                    </div>
                                </div>
                            {{/if}}

                        {{/each}}

                    </div>
                </div>
            </div>
                <div class="chat-form">
                    <form role="form" autocomplete="off">
                        <div class="form-group" id="commentBox">
                            <input autofocus name="message"  class="form-control" placeholder="Type your message here...">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
