<template name="chatbox">
    <div class="panel panel-default" id="chatBox">
	  	<div class="panel-body">
	    	<div class="alert alert-success" role="alert" id="admin_msg">
	    		The quick brown fox jumps over the lazy dog
	    	</div>
	    	
	    	<div class="alert alert-info" role="alert" id="user_msg">
	    		The quick brown fox jumps over the lazy dog
	    	</div>

	    	<div class="alert alert-warning" role="alert" id="bot_msg">
	    		The quick brown fox jumps over the lazy dog
	    	</div>
	    	
	    	<div class="alert alert-info" role="alert" id="user_msg">
	    		The quick brown fox jumps over the lazy dog
	    	</div>

	    	<div class="alert alert-success" role="alert" id="admin_msg">
	    		The quick brown fox jumps over the lazy dog
	    	</div>
	    	
	    	<div class="alert alert-success" role="alert" id="admin_msg">
	    		The quick brown fox jumps over the lazy dog
	    	</div>
	    	
	    	<div class="alert alert-info" role="alert" id="user_msg">
	    		The quick brown fox jumps over the lazy dog
	    	</div>

	    	<div class="alert alert-warning" role="alert" id="bot_msg">
	    		The quick brown fox jumps over the lazy dog
	    	</div>

	    	<div class="alert alert-info" role="alert" id="user_msg">
	    		The quick brown fox jumps over the lazy dog
	    	</div>

	    	<div class="alert alert-info" role="alert" id="user_msg">
	    		The quick brown fox jumps over the lazy dog
	    	</div>

	    	<div class="alert alert-warning" role="alert" id="bot_msg">
	    		The quick brown fox jumps over the lazy dog
	    	</div>

	    	<div class="alert alert-info" role="alert" id="user_msg">
	    		The quick brown fox jumps over the lazy dog
	    	</div>

	    	<div class="alert alert-info" role="alert" id="user_msg">
	    		The quick brown fox jumps over the lazy dog
	    	</div>
    		
    		<form>
    			<div class="well" id="commentBox">
    				<input type="text" class="form-control" placeholder="Type your message here...">
    			</div>
	    	</form>
	  	</div>
	</div>
</template>
