<template name="content">
    <div class="row">
        <div class="col-lg-12">
            <a href="#">
                <img width="33px" id="forward" alt="image" class="img-circle" src="forward.png">
            </a>
            <div class="wrapper wrapper-content">
                <!--Page Start-->
                {{> articleWindow}}


                {{> chatbox}}
            </div>
        </div>
    </div>
    <!--<div class="container-fluid" id="main_body">-->
        <!--<div class="row" style="height:100%">-->
            <!--{{#if isInRole 'mentor' 'default-group'}}-->
                <!--<div class="col-md-4" style="height:100%">-->
                    <!--{{> sendersMentor}}-->
                <!--</div>-->

                <!--<div class="col-md-8" style="height:92%">-->
                    <!--{{> chatboxMentor}}-->
                <!--</div>-->
            <!--{{else}}-->
                <!--<div class="col-md-8" style="height:100%">-->
                    <!--{{> articleWindow}}-->
                <!--</div>-->

                <!--<div class="col-md-4" style="height:92%">-->
                    <!--{{> chatbox}}-->
                <!--</div>-->
            <!--{{/if}}-->

        <!--</div>-->
    <!--</div>-->
</template>
