html, body {
	height: 100%;
	background-image: url("background.png");
}

#main_body{
	height: 85%;
}

#articleContent{
	height: 100%;
	border: 2px solid #1abc9c;
	overflow: scroll;
}

#chatBox{
	height: 100%;
	border: 2px solid #1abc9c;
	overflow: scroll;
}

#searchBar,#footer{
	padding: 10px;
}

#tagBar{
	padding: 17px;
}

#commentBox{
	position: absolute;
	bottom : -73px;
	padding: 10px;
	right: 15px;
	left: 15px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px; 
}

a{
	color: black;
}

.alert{
	padding: 8px;
	border-radius: 12px;
}

#footer{
	margin-bottom: -10px;
	margin-top: 8px;
}

.alert#admin_msg,#bot_msg{
	width: 80%;
	float: left;
}

.alert#user_msg{
	width: 80%;
	float: right;
}

