<template name="profileControl">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div>
        <ul class="nav navbar-nav">
            <li><a href="/"><i class="fa fa-diamond"></i><b style="color:black;font-size:18px">INCUBA</b></a></li>

            {{#if isInRole 'writer' 'default-group'}}
                <li id="postArticle"><a style="color:black" data-toggle="modal" data-target=".articleModal">Post Article</a></li>
            {{/if}}

            <!--<li><a href="#" style="color:#18A689">Button 2</a></li>-->
            <!--<li><a href="#" style="color:#18A689">Button 3</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{#if currentUser}}

                <li class="dropdown">
                    <a href="#" style="color:black" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> <span class="caret"></span>
                        {{full_name}}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile/{{slug}}">Goto Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a id="logoutButton" href="#">Logout</a></li>
                    </ul>
                </li>
            {{else}}
                <li>
                    <a id="loginButton" href="#" style="color:black" data-toggle="modal" data-target=".loginModal">
                        Login
                    </a>
                </li>

                <li>
                    <a id="loginButton" href="#" style="color:black" data-toggle="modal" data-target=".registrationModal">
                        Register
                    </a>
                </li>
            {{/if}}

        </ul>
    </div><!-- /.navbar-collapse -->

    <!-- Login Modal -->
    <div id="loginModal" class="modal fade loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                {{> login}}
            </div>
        </div>
    </div>

    <!-- Registration Modal -->
    <div id="registerModal" class="modal fade registrationModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                {{> register}}
            </div>
        </div>
    </div>

    <!-- Article Modal -->
    <div id="articleModal" class="modal fade articleModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                {{> write_article}}
            </div>
        </div>
    </div>
</template>
