<template name="profileControl">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="#">Button 1</a></li>
            <li><a href="#">Button 2</a></li>
            <li><a href="#">Button 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{#if currentUser}}
                <li><a id="logoutButton" href="#">Logout</a></li>
            {{else}}
                <li><a id="loginButton" href="#" data-toggle="modal" data-target=".bs-example-modal-sm">Login</a></li>
            {{/if}}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> <span class="caret"></span>
                    {{full_name}}
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/profile">Goto Profile</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->

    <!-- Small modal -->
    <div id="popupregister" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                {{> register}}
            </div>
        </div>
    </div>
</template>
