<template name="basicLayout">
        <!--{{#if currentUser}}-->
            <!--<p>You're logged in.</p>-->
            <!--{{>logout}}-->
        <!--{{else}}-->
            <!--{{> register}}-->
            <!--{{> login}}-->
        <!--{{/if}}-->

    <div>
        {{> header}}
    </div>

    <div>
        {{#if isTrue}}
            <div>
                <!--{{> atForm state='signIn'}}-->
                {{> atForm }}
            </div>

        {{/if}}

        {{> content}}
    </div>

    <div>
        {{> footer}}
    </div>


</template>
