<template name="write_article">
    <div class="container-fluid">
        <form method="POST">
            Title: <br>
            <input type="text" name="title">
            <br>
            Summary: <br>
            <input type="text" name="summary">
            <br><br>
            Tags: <br>
            <input type="text" name="tag">
            <br><br>
            Body: <br>
            <input type="text" name="body">
            <br><br>
            <input type="submit" value="submit">
        </form>

    </div>
</template>
