<template name="singleArticle">
    <body class="mini-navbar">
        <div id="wrapper">
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <!--Show edit options -->
                        <div class="ibox-content" style="margin-top: 2px !important;">
                            <div class="jumbotron">
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        {{article.title}}
                                    </div>
                                </div>
                                {{#each article.tags}}
                                    <div class="panel panel-primary">
                                        <div class="panel-body">
                                            <span class="badge badge-primary">{{this}}</span>
                                        </div>
                                    </div>
                                {{/each}}
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        {{article.summary}}
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        {{article.createdAt}}
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        {{article.body}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</template>
