<template name="profile">
    <body class="mini-navbar">
        <div id="wrapper">
            <div id="page-wrapper">
                <div class="row">
                    <!--<div class="col-lg-2">-->
                    <!--</div>-->
                    <div class="col-lg-12">
                        {{#if checkUser}}
                        <!--Show edit options -->
                        <div class="ibox-content" style="margin-top: 2px !important;">
                            <div class="jumbotron">
                                <div class="row">
                                    <div class="col-lg-2">
                                        {{#if ProfileData.profile.profilePicture}}
                                            <img class="img-thumbnail img-responsive" src="/upload/{{ProfileData.profile.profilePicture}}">
                                            <br>
                                            <br>
                                        {{/if}}
                                        <button class="btn btn-primary center-block" data-toggle="modal" data-target=".photoUploadModal" id="ProfilePictureUploadButton">Upload Profile Picture</button>
                                    </div>
                                    <div class="col-lg-10">
                                        <h1>{{> m_editable optionsFullName }}</h1>

                                        <h3>
                                            {{> m_editable optionsAge }}, {{> m_editable optionsSex }}, {{> m_editable optionsLocation }}
                                        </h3>

                                        <div class="hr-line-dashed"></div>

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="panel panel-primary profile_info_box">
                                                    <div class="panel-heading">
                                                        Education
                                                    </div>
                                                    <div class="panel-body">
                                                        <p>
                                                        <ul>
                                                            <li>Couses Taken
                                                                <ul>
                                                                {{#each ProfileData.profile.courseTaken}}
                                                                    <li>{{this}}</li>
                                                                {{/each}}
                                                                    <li>{{> m_editable coursesTaken}}</li>
                                                                </ul>
                                                            </li>

                                                            <li>Area of Interest
                                                                <ul>
                                                                    {{#each ProfileData.profile.areaOfInterest}}
                                                                        <li>{{this}}</li>
                                                                    {{/each}}
                                                                    <li>{{> m_editable areaOfInterest}}</li>
                                                                </ul>
                                                            </li>

                                                            <li>Area of Works
                                                                <ul>
                                                                    {{#each ProfileData.profile.areaOfWorks}}
                                                                        <li>{{this}}</li>
                                                                    {{/each}}
                                                                    <li>{{> m_editable areaOfWorks}}</li>
                                                                </ul>
                                                            </li>

                                                            <li>Internships
                                                                <ul>
                                                                    {{#each ProfileData.profile.internships}}
                                                                        <li>{{this}}</li>
                                                                    {{/each}}
                                                                    <li>{{> m_editable internships}}</li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="panel panel-primary profile_info_box">
                                                    <div class="panel-heading">
                                                        Works
                                                    </div>
                                                    <div class="panel-body">
                                                        <p>
                                                        <ul>
                                                            <li>Works At
                                                                <ul>
                                                                    {{#each ProfileData.profile.worksAt}}
                                                                        <li>{{this}}</li>
                                                                    {{/each}}
                                                                    <li>{{> m_editable worksAt}}</li>
                                                                </ul>
                                                            </li>

                                                            <li>Worked At
                                                                <ul>
                                                                    {{#each ProfileData.profile.workedAt}}
                                                                        <li>{{this}}</li>
                                                                    {{/each}}
                                                                    <li>{{> m_editable workedAt}}</li>
                                                                </ul>
                                                            </li>

                                                            <li>Projects Completed
                                                                <ul>
                                                                    {{#each ProfileData.profile.projectsCompleted}}
                                                                        <li>{{this}}</li>
                                                                    {{/each}}
                                                                    <li>{{> m_editable projectsCompleted}}</li>
                                                                </ul>
                                                            </li>

                                                            <li>Internships
                                                                <ul>
                                                                    {{#each ProfileData.profile.workInternships}}
                                                                        <li>{{this}}</li>
                                                                    {{/each}}
                                                                    <li>{{> m_editable workInternships}}</li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="panel panel-primary profile_info_box">
                                                    <div class="panel-heading">
                                                        Other Interests
                                                    </div>
                                                    <div class="panel-body">
                                                        <p>
                                                        <ul>
                                                            <li>Events Attended
                                                                <ul>
                                                                    {{#each ProfileData.profile.eventsAttended}}
                                                                        <li>{{this}}</li>
                                                                    {{/each}}
                                                                    <li>{{> m_editable eventsAttended}}</li>
                                                                </ul>
                                                            </li>

                                                            <li>Training Attended
                                                                <ul>
                                                                    {{#each ProfileData.profile.trainingAttended}}
                                                                        <li>{{this}}</li>
                                                                    {{/each}}
                                                                    <li>{{> m_editable trainingAttended}}</li>
                                                                </ul>
                                                            </li>

                                                            <li>Certification Achieved
                                                                <ul>
                                                                    {{#each ProfileData.profile.certificationAchieved}}
                                                                        <li>{{this}}</li>
                                                                    {{/each}}
                                                                    <li>{{> m_editable certificationAchieved}}</li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>


                            <!-- Photo Upload Modal -->
                            <div id="photoUploadModal" class="modal fade photoUploadModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title text-center" id="myModalLabel">Upload Profile Photo</h4>
                                        </div>
                                        <div id="mymodal" class="modal-body">
                                            {{> upload_bootstrap fileTypes='.jpg,.png,.gif' callbacks=profilePictureUpload }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<h3>{{ProfileData.age}}, {{ProfileData.sex}}, {{ProfileData.location}}</h3>-->
                        </div>
                        {{else}}
                            <!--DONT Show edit options -->
                            <div class="ibox-content" style="margin-top: 2px !important;">
                                <div class="jumbotron">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <img class="img-thumbnail img-responsive" src="/upload/{{ProfileData.profile.profilePicture}}">
                                            <br>
                                            <br>
                                        </div>
                                        <div class="col-lg-10">
                                            <h1>{{ProfileData.profile.full_name}}</h1>

                                            <h3>
                                                {{ProfileData.profile.age}}, {{ProfileData.profile.sex}}, {{ProfileData.profile.location}}
                                            </h3>

                                            <h3>
                                                Education
                                            </h3>

                                            {{> tagList id="education" defaultItems=intialEducation}}
                                            <!---->
                                                <!--{{#each ProfileData.education}}-->
                                            <!--<div style="border: 1px solid black; padding: 50px;">-->
                                            <!--<h3>{{schoolName}}</h3>-->
                                            <!--<h5>{{time}}</h5>-->
                                            <!--<h5>{{program}}</h5>-->
                                            <!--</div>-->
                                                <!--{{/each}}-->

                                            <h3>
                                                Works
                                            </h3>
                                            {{#each ProfileData.works}}
                                                <div style="border: 1px solid black; padding: 50px;">
                                                    <h3>{{company}}</h3>
                                                    <h5>{{time}}</h5>
                                                    <h5>{{designation}}</h5>
                                                </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>


                                <!-- Photo Upload Modal -->
                                <div id="photoUploadModal" class="modal fade photoUploadModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title text-center" id="myModalLabel">Upload Profile Photo</h4>
                                            </div>
                                            <div id="mymodal" class="modal-body">
                                                {{> upload_bootstrap fileTypes='.jpg,.png,.gif' callbacks=profilePictureUpload }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<h3>{{ProfileData.age}}, {{ProfileData.sex}}, {{ProfileData.location}}</h3>-->
                            </div>

                        {{/if}}
                    </div>
                    <!--<div class="col-lg-2">-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </body>
</template>
